<section id="contact" class="bg-dark">
  <div class="container position-relative">
    <h2 class="section-title text-white" data-aos="fade-down-right">Contacto</h2>
    <div class="row" data-aos="fade-down-right" data-aos-delay="300">
      <p class="section-description text-white col-12 col-md-8 col-lg-5">Me puedes contactar directamente desde mi <a href="https://www.linkedin.com/in/joan-arturo-camacho-alvarez-b40b17202/" target="_blank">Linkedin</a> o a través del siguiente formulario.</p>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5" data-aos="zoom-out-left" data-aos-delay="500">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="inputEmail" class="form-label text-light">Correo electrónico</label>
            <input type="email" class="form-control" [class.is-invalid]="errors.email" id="inputEmail" name="email" placeholder="tucorreo@example.com" [(ngModel)]="form.email">
            <div class="invalid-feedback" *ngIf="errors.email">
              {{ errors.email }}
            </div>
          </div>
          <div class="form-group">
            <label for="textareaMessage" class="form-label text-light">Mensaje</label>
            <textarea class="form-control" [class.is-invalid]="errors.message" id="textareaMessage" name="message" rows="5" placeholder="Escribe tu mensaje aquí..." [(ngModel)]="form.message"></textarea>
            <div class="invalid-feedback" *ngIf="errors.message">
              {{ errors.message }}
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="formSending">Contactar</button>
        </form>
      </div>
    </div>
    <img src="assets/images/mailbox.svg" class="illustration d-none d-lg-block" alt="Ilustración de buzón de correos" data-aos="zoom-out-left" data-aos-delay="500" data-aos-offset="-300">
  </div>
</section>