<section id="aboutme">
    <h2 class="section-title text-white" data-aos="fade-down-right">Sobre mí</h2>
    <div class="row">
        <div class="col-12 col-md-5" data-aos="fade-down-right" data-aos-delay="300">
            <p class="text-white">Mi nombre es Joan Arturo Camacho Alvarez. Soy un chico apasionado por la tecnología y el desarrollo de software, y busco estar en constante aprendizaje sobre las herramientas existentes en la actualidad para agilizar el desarrollo de mis proyectos.</p>
            <p class="text-white">Actualmente, domino el stack LAMP y utilizo el framework Laravel o, en ocasiones, Yii2 para lograr una mayor flexibilidad y escalabilidad entorno al desarrollo de proyectos web.</p>
            <p class="text-white">Considero que soy bueno codificando en el lenguaje de programación PHP y JavaScript, aunque este último no suelo utilizarlo en todos los proyectos que he desarrollado.</p>
        </div>
        <div class="col-12 col-md-6 offset-md-1" data-aos="fade-down-left" data-aos-delay="300">
            <p class="text-white mb-4">Algunos de mis pasatiempos favoritos son:</p>
            <div class="row">
                <div class="col-6 col-lg-4 mb-4">
                    <div class="hobby" data-aos="zoom-in-up" data-aos-delay="500">
                        <img src="assets/images/tool.png" alt="Icono de herramientas">
                        <small class="text-white">Programar</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4 mb-4" data-aos="zoom-in-up" data-aos-delay="700">
                    <div class="hobby">
                        <img src="assets/images/videogames.png" alt="Icono de pico">
                        <small class="text-white">Videojuegos</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4 mb-4" data-aos="zoom-in-up" data-aos-delay="900">
                    <div class="hobby">
                        <img src="assets/images/music.png" alt="Icono de auriculares">
                        <small class="text-white">Escuchar música</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4 mb-4 mb-lg-0" data-aos="zoom-in-up" data-aos-delay="1100">
                    <div class="hobby">
                        <img src="assets/images/workout.png" alt="Icono de mancuernas">
                        <small class="text-white">Ejercitarme</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4" data-aos="zoom-in-up" data-aos-delay="1300">
                    <div class="hobby">
                        <img src="assets/images/book.png" alt="Icono de libro">
                        <small class="text-white">Leer</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4" data-aos="zoom-in-up" data-aos-delay="1500">
                    <div class="hobby">
                        <img src="assets/images/movies.png" alt="Icono de flecha de reproducción">
                        <small class="text-white">Ver películas</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>