<section class="hero row align-items-center" id="home">
    <div class="col-12 col-md-4 offset-md-1" data-aos="fade-up-right">
        <img src="assets/images/amico.svg" class="w-100 mb-5 mb-md-0" alt="Ilustración de programador">
    </div>
    <div class="col-12 col-md-6 offset-md-1">
        <h1 class="text-white" data-aos="fade-left" data-aos-delay="400">Hola, me llamo Joan Arturo Camacho Alvarez</h1>
        <p class="lead mb-5 text-white" data-aos="fade-left" data-aos-delay="700">Soy Desarrollador Web Fullstack</p>
        <div class="buttons" data-aos="fade-left" data-aos-delay="1000">
            <a class="btn btn-primary" role="button" href="#contact">Contactar</a>
            <a class="btn btn-outline-light" role="button" href="assets/docs/cv.pdf" target="_blank">Descargar CV de Joan</a>
        </div>
    </div>
</section>