/* You can add global styles to this file, and also import other style files */
@use 'colors';

$white: colors.$white;
$body-bg: colors.$coalmine;
$input-bg: colors.$midnight-purple;

$input-color: colors.$white;
$input-border-color: colors.$dull-purple;
$input-placeholder-color: colors.$dull-purple;
$input-focus-border-color: colors.$primary;
$input-focus-box-shadow: 0 0 12px rgba(255, 0, 200, 0.5);

$custom-colors: (
    "coalmine":        colors.$coalmine,
    "midnight-purple": colors.$midnight-purple,
    "dull-purple":     colors.$dull-purple
);

$theme-colors: (
    "primary": colors.$primary,
    "dark":    colors.$dark,
    "light":   colors.$light,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$btn-border-radius: 4px;
$card-border-radius: 4px;
$input-border-radius: 4px;
$input-border-width: 2px;

$input-padding-y: 12px;
$input-padding-x: 12px;

@import "fonts";
@import "../node_modules/bootstrap/scss/bootstrap";


// Fix overflow bug added by AOS library
html, body {
    overflow-x: hidden;
}

// Enable scroll smoothing
html {
    scroll-behavior: smooth;
}

// Add the "custom-toast" class to modify the styles of the toastr library
.toast-container .custom-toast.ngx-toastr {
    box-shadow: 0 0 12px #9999996b;
}